<div class="wrapper_with_padding">
	<div id="note_show">
		<h1 class="title"> 
			<%= @note.title %> 
		</h1>

		<p> 
			<%= @note.content %> 
		</p>

		<div class="buttons">
			<%= link_to "Edit Notes", edit_note_path(@note), class: "button" %>
			<%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "This action is permanent. Are you sure?" }, class: "button" %>
		</div>
	</div>
</div>