<div id="banner">
  <div class="banner_content">
    <h1>chronicle</h1>
    <p>Diary. Journal. Notepad. Tell a story the way you want to.</p>
    <p>For the moments in life, chronicle it.</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>

<div id="testimonial">
		<div class="wrapper">
			<p class="quote">Writing is an exploration. You start from nothing and learn as you go.<p>
			<p class="name">- E. L. Doctorow</p>
		</div>
</div>

<footer>
  <p>&copy; SumaPeri</p>
</footer>

